body {
    display: contents;
}

.stick {
    /* position:fixed; */ /* obstructs anchor view, JS required */
    width: 100%;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    padding: 10px;
    background-color: rgb(63, 62, 62);
    text-align: center;
    color: rgb(206, 214, 214);
    border-color: black;
    border-width: 1px;
}

.nav {
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    border-style: solid;
    margin-bottom: 5px;

    background-color: rgb(41, 40, 40);
    text-align: center;
    color: rgb(206, 214, 214);
    border-color: black;
    border-width: 1px;
}

a.nav:link,
a.nav:visited {
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
    flex: 33.3%;
    color: azure;
    border-width: 0;
    margin-bottom: 0;
}

a.nav:hover {
    transition: 400ms;
    background-color: azure;
    color: black;
}

.bdy {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Segoe UI';
    display: flex;
}

div {
    flex: auto;
}

.Content {
    border-radius: 10px;
    min-height: 300px;
    max-height: 300px;
    padding: 10%;
    width: 70%;
    border-style: groove;
    margin: 3px;
    overflow-y: auto;
}

.Pane {
    border-radius: 10px;
    padding-top: 20%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: black;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}

a.Pane:visited,
a.Pane:link {
    color: rgb(228, 227, 227);
    text-decoration: none;
}

a.Pane:hover {
    background: rgb(56, 56, 56);
    text-decoration: underline;
}

h3 {
    color: rgb(88, 88, 88);
}

.footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: rgb(189, 189, 189);
    padding-top: 30px;
    padding-bottom: 30px;
}

.Content::-webkit-scrollbar {
    width: 10px;
}

.Content::-webkit-scrollbar-track {
    width: auto ;
    border-radius: 10px;
    background: azure;
    box-shadow: inset 0 0 5px grey;
}

.Content::-webkit-scrollbar-thumb {
    padding: 1px;
    border-radius: 10px;
    background: grey;
    box-shadow: inset 0 0 5px black;
}

.Content::-webkit-scrollbar-thumb:hover{
    background-color: black;
}
