@import "./PageStructure.css";

ol p {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

/* a.list:link,a.list:visited {
    text-decoration: inherit;
    color: darkmagenta;
}
a.list:hover{
    color: grey;
} */
.list a:link,
.list a:visited {
    text-decoration: inherit;
    color: darkslateblue;
}

.list a:hover {
    color: grey;
}

.sublist a:link,.sublist a:visited{
    color:darkslategrey;
}
.sublist a:hover{
    color: grey;
}

ol li {
    font-size: larger;
}

ul li {
    font-size: large;
}